<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/index.css">

</head>


<body id="home_main_body_div">

    <div class="content_body">

        <div class="home__statement-header">
            <h1>Jacob Ciafre: Computational Physicist</h1>

            <div class="about-me" id="about-me-text">

                <div class="transition-candidate text-transition circles">
                    <img class="profile-picture" id="profile-picture" src="/static/imgs/headshot.jpg" alt="Headshot">

                    <div class="social-links transition-candidate text-transition">
                        <p>
                            <img class="social-icon" src="/static/svgs/linkedin.svg">
                            <a href="https://linkedin.com/in/jacob-ciafre" target="_blank">LinkedIn</a>
                        </p>

                        <p>
                            <img class="social-icon" src="/static/svgs/github.svg">
                            <a href="https://github.com/JacobCiafre" target="_blank">Github</a>
                        </p>

                        <p>
                            <img class="social-icon" src="/static/svgs/email.svg">
                            <a href="mailto:jakeciafre@outlook.com" target="_blank">Email</a>
                        </p>
                    </div>
                </div>


                <div>
                    <p class="transition-candidate text-transition">I grew up in Pittsburgh, Pennsylvania
                        visiting the zoo and museums weekly with my mom and tent camping in Allegheny National Forest
                        with
                        my dad. My love for nature and learning has persisted to this day.
                    </p>
                    <p class="transition-candidate text-transition">Happily married, lifetime vegetarian, and Austin,
                        Texas resident.

                    </p>
                    <p class="transition-candidate text-transition">My educational themes fall
                        into the general categories of mathematics, technology, and physics.
                        Currently, I am putting a great effort into becoming an efficient and well-rounded programmer.
                        My
                        goal this season is to better document my journey via git repositories and this personal site.

                    </p>
                    <p class="transition-candidate text-transition">My fitness and outdoor theme for this season is
                        cycling.
                    </p>


                </div>



            </div>

        </div>

        <div class="home__programming-header">
            <h1>Technology</h1>

            <div class="tech-icon-title">

                <!-- <h3>Python</h3> -->
                <img class="tech-icon" src="/static/svgs/python.svg">

            </div>

            <p>I have been writing projects in Python since 2013. The sheer volume of intuitive
                libraries for Python will keep me engaged with this language for years to come. This year I have
                been having a lot of fun with Flask, the library used
                to help create this site. And speaking of this site, I use an SQL database and generally find
                that
                Python's SQLite library makes the entire process painless.
            </p>

            <div class="tech-icon-title">

                <!-- <h3>Javascript</h3> -->
                <img class="tech-icon" src="/static/svgs/javascript.svg">
            </div>


            <p>I have been fortunate to find a great mentor and work on a Webapp, gaining
                experience with Nodejs and MongoDB. Once I had learned Javascript syntax, I was able to
                experience the fun of writing clientside code. An intensely satisfying experience for me is
                future-proofing projects. I wanted to showcase that process with the education tab on this page.
                Changing the course list information in the database would require no to minimal updates on the
                clientside code.</p>

            <div class="tech-icon-title">

                <!-- <h3>HTML & CSS</h3> -->
                <img class="tech-icon" src="/static/svgs/html.svg">
                <img class="tech-icon" src="/static/svgs/css3.svg">

            </div>



            <p>My Webapp experience is with Handlebars and SASS. However, I utilize SASS and
                vanilla HTML on this site. This website partly exists to establish a playground for expanding my
                understanding of HTML and CSS. These tools are the most recent addition to my toolbelt, and I
                will continue to find new ways to sharpen them, as I do with all my skills.</p>



        </div>


        <div class="home__research-header">
            <h1>Physics</h1>

            <div class="paper-teaser">

                <p>During my graduate schooling, I had the pleasure of studying on a scientific
                    frontier. Black holes have been capturing the imagination of science fiction writers since the
                    concept
                    was first presented and to this day we still have only explored the tip of the iceberg. Black holes
                    present a unique problem: light can not escape them, hence the namesake. We know they exist due to
                    the
                    interaction with the light emitted by surrounding stars but what else can we discover? Have a look
                    to find out!</p>

                <div class="paper-links">

                    <ul>
                        <li><a href="https://arxiv.org/abs/1906.07203" target="_blank">Generalized Near Horizon Extreme
                                Binary Black
                                Hole
                                Geometry</a></li>

                        <li><a href="https://arxiv.org/abs/1804.06985" target="_blank">A Near Horizon Extreme Binary
                                Black Hole
                                Geometry</a>
                        </li>

                        <li><a href="https://arxiv.org/abs/2004.14405" target="_blank">Emergent Black Hole
                                Thermodynamics from
                                Monodromy</a>
                        </li>
                    </ul>

                </div>


            </div>



        </div>

        <div class="home__academics-header">
            <h1>Education</h1>

            <div>


                <div class="home__undergrad-headers">
                    <div class="university-column">
                        <h2>Slippery Rock University <img class="arrow" src="/static/svgs/down-arrow.svg"
                                id="undergrad-tag">
                        </h2>
                        <h3>B.S. Computational Physics</h3>
                    </div>

                    <div class="filter-column">
                        <div class="filters noShow" id="filters-div">
                            <div class="filter-box-header">
                                <h4>Undergraduate Filters:</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="noShow" id="undergrad-body-header">Course List:</h4>
                <div class="home__academics-body noShow" id="home__undergrad-body"></div>


                <h2>Utah State University <img class="arrow" src="/static/svgs/down-arrow.svg" id="grad-tag">
                </h2>
                <h3>M.S. Physics</h3>
                <h4 class="noShow" id="grad-body-header">Full Course List:</h4>
                <div class="home__academics-body noShow" id="home__grad-body"></div>
            </div>

        </div>

        <div class="home__hobbies-header">
            <h1>Adventure</h1>
            <img class="bikepacking-picture" id="bikepacking-picture" src="/static/imgs/bikepacking.jpg"
                alt="Bikepacking">

            <h3>"Bikepacking": The Ultimate Freedom</h3>
            <p>Cycling on its own is a fantastic hobby, and I started learning about the depth of the sport in the
                summer of 2016. At the time, I was riding a hardtail mountain bike (suspension in the front) that
                allowed me to ride on the road and trails. I quickly found that I enjoyed a specific combination of
                quick and consistent speeds and trail riding. Likely because, as with most of my endeavors, I find
                satisfaction in pushing my mental and physical limits.</p>
            <p>Enter the Great Allegheny Passage, a 150-mile trail stretching from Pittsburgh to Cumberland. I could not
                pass up the challenge, and in September of 2016 had an incredible adventure riding the GAP for three
                days. Carrying camping gear on my bike added an element that reminded me of the childhood enjoyment I
                found camping and connected the entire experience to nature in a way that felt like nirvana.</p>
            <p>I had room to grow. The Chesapeake and Ohio Canal Towpath continues to Washington, Dc, another 185 miles
                from where the GAP leaves off. I was exhausted after the first trip, but I never waivered in the
                excitement that I would complete the entire trail system one day. In September 2018, I flew to
                Pittsburgh with a new cyclocross bicycle (pictured above). This time around, my dad accompanied me on
                the trail.</p>
            <p>Day one statistics: 60 miles, 3064 feet of elevation, and 5 hours, 11 minutes in the saddle. </p>
            <p>I remember passing the first campground from my 2016 trip and reflecting on my improvement in fitness. By
                the end of day one, all my dad and I could express was, "what did we get ourselves into." The weather
                was perfect, the trail was quiet and peaceful, and my legs felt strong. </p>
            <p>Day two statistics: 90 miles, 7182 feet of elevation, and 8 hours, 18 minutes in the saddle. </p>
            <p>I watched two and a half days pass before my eyes in one day. This stretch was my favorite section of the
                trail with all the biomes we passed through. It was steep and beautiful, which led to moments of
                complaint from our legs and mouthes but always followed by happiness about our situation. The last
                portion of the trail had a much-appreciated downhill section with one comically short uphill part. We
                hit that section in top gear. My mind was calm, my legs were sore, and that bump in the trail will
                forever be our enemy. </p>
            <p>Day three statistics: 60 miles, 2395 feet of elevation, and 5 hours, 45 minutes in the saddle. </p>
            <p>The C&O towpath was covered in amazing historical sites and things to stop at along the way. The towns
                were sparse and we ran out of water a few times. The temperature was up to 95F and punished us on the
                trail all day. This was a head-down day that we dug deep to complete.</p>
            <p>Day four statistics: 66 miles, 2054 feet of elevation, and 6 hours, 32 minutes in the saddle. </p>
            <p>I recall my knee hurt a lot this day. Peaceful and quiet section of the trail with more tree coverage
                than the day before. We stopped early for lunch but had to go off-trail and up a hill for a few miles.
                Riding next to a river was more noticeable and calming on this day. There is this excellent section
                where you ride on a concrete path cliffside of the river, gorgeous. The evening was enjoyable but I felt
                a little sad about the trip almost ending.</p>
            <p>Day five statistics: 62.7 miles, 1434 feet of elevation, and 7 hours, 22 minutes in the saddle.
            </p>
            <p>Rain. After days of clear skies, we spent the entire final day in the rain. I hit a breaking point that I
                was not expecting. 30 miles left and for the first time, I wanted the trip to be over. We sat in a small
                pizza restaurant and the rain finally lightened. I found enjoyment in the rest of the day and when we
                crossed the final mile marker in DC I was full of emotion. We rented a car and drove four hours back to
                the start of the trail. I do not think we stopped laughing during the entire car ride back. I will
                cherish my memories from this trip forever.</p>


        </div>

    </div>


</body>

<script src="/static/js/home.js"></script>

</html>